:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-green: #1DE592;
  --color-blue: #1B73E8;
  --color-grey: #606468;
  --color-light-grey: #DADCE0;
  --font-size: 16px;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@function get-var($var-name) {
  @return var(--#{$var-name});
}

@function get-color($color-name) {
  @return get-var(color-#{$color-name});
}

* {
  font-size: get-var(font-size);
  font-family: get-var(font-family);
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

body {
  margin-top: 1rem;
  margin-left: 1rem;
}

a {
  text-decoration: underline;
  color: get-var(color-black);
  font-size: inherit;

  &:visited {
    color: get-var(color-black);
  }
}

.wrapper {
  width: 38rem;
  margin: 1rem auto;
}

.block {
  width: 100% !important;
  margin-bottom: 3rem !important;
  border-radius: 0.8rem !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &.block-1 {
    background-color: get-color(green);
    aspect-ratio: 4 / 3;
    // height: 30rem;
    padding-left: 3rem;
    padding-top: 6rem;

    h1 {
      font-size: 3rem;
      font-weight: bolder;
      margin-top: unset;
      margin-bottom: unset;
    }

    p {
      font-size: 1.2rem;
      font-weight: normal;
    }

    button {
      width: 18rem;
      padding: 1rem 1.5rem;
      margin-top: 2rem;
      border: 0px solid get-color(white);
      border-radius: calc(1rem * 2);
      background-color: get-color(white);
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  &.block-2 {
    border-radius: inherit;
    border: 1px solid get-var(color-light-grey);

    .section {
      padding-left: 2rem;
      padding-right: 2rem;

      &.section-1 {
        padding-top: 2rem;

        h1 {
          margin: unset;
          font-size: 2.5rem;
          font-weight: bold;
          padding-bottom: 0.5rem;
        }

        p {
          color: get-var(color-grey);
          font-size: 1.5rem;
          font-weight: normal;
        }

        .img-wrapper {

          img {
            $width: 6rem;
            width: $width;
            aspect-ratio: 1/1;
            border-radius: 50%;
            margin: 2rem;
          }
        }
      }

      &.section-2 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 1px solid get-var(color-light-grey);

        button {
          border: 0px;
          color: get-var(color-blue);
          font-size: 1.5rem;
          font-weight: 400;
        }
      }
    }
  }

  &.block-3 {
    border-radius: inherit;
    border: 1px solid get-var(color-light-grey);

    img {
      width: 100%;
      aspect-ratio: 2 / 1;
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
    }

    .section {
      padding: 2rem;

      .subscribe-detail {
        color: get-var(color-grey);
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: 400;
        display: flex;
        align-items: center;
        text-transform: capitalize;

        i {
          font-size: 1.2rem;
          margin-right: 0.5rem;
        }
      }

      h1 {
        margin: unset;
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 0.5rem;
      }

      p {
        color: get-var(color-grey);
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 1rem;
      }

      button {
        border: 1px solid get-var(color-light-grey);
        border-radius: 0.5rem;
        padding: 1rem 1.5rem;
        color: get-var(color-blue);
        background-color: get-var(color-white);
        font-size: 1.5rem;
        font-weight: 400;
        margin: 1rem auto;
      }

    }
  }

  &.block-4 {
    border-radius: inherit;
    border: 1px solid get-var(color-light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem;

    img {
      width: 30%;
      //aspect-ratio: 2 / 1;
      margin: 1rem auto;
    }

    .header {
      margin: 1rem auto;
    }

    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem auto;
      width: 60%;

      input {
        padding: 1rem 1.2rem;
        border: 1px solid get-var(color-light-grey);
        border-radius: 0.5rem;
        margin: 0.25rem auto;
        width: 100%;

        &:focus {
          transform: scale(1.05);
        }
      }

      button {
        padding: 1rem 3rem;
        margin: 2rem auto 1rem auto;
        border: 0px solid get-color(black);
        border-radius: calc(1rem * 2);
        background-color: get-color(black);
        color: get-color(white);
        font-size: 1rem;
        font-weight: bold;

        &:hover {
          opacity: 0.9;
        }
      }

    }

    .forgot-password {
      $font-size: 0.9rem;
      font-size: $font-size;
      font-weight: normal;
      margin-bottom: 2rem;

    }

    .footer {
      $font-size: 0.8rem;
      font-size: $font-size;
      font-weight: normal;
      margin-bottom: 2rem;

      a {
        font-size: inherit;
      }

    }

  }
}